.arrow-btn {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: 0;
}

.arrow-btn.active {
  opacity: 1;
}

.arrow-btn button {
  background-color: #fff;
  font-size: 20px;
}

.arrow-up {
  border: 1px solid #606b86;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.arrow-down {
  border: 1px solid #606b86;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.arrow-btn i {
  padding: 6px 2px;
  opacity: 0.7;
  color: #606b86;
}

.arrow-btn i:hover {
  opacity: 1;
}
