.features {
  text-align: center;
  margin-bottom: 162px;
}

.features-desc {
  margin-bottom: 60px;
  color: #606b86;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.7777;
}

.features-image-box {
  position: relative;
  margin-bottom: 58px;
  width: auto;
  height: 275px;
}

.features-image-box img {
  width: auto;
  height: 189px;
}

.features-image-desc {
  position: absolute;
  max-width: 130px;
  border-radius: 20px;
  background-color: #f1f8e9;
  transition: transform 250ms ease-in-out;
}

.features-image-desc:hover {
  transform: scale(1.1);
}

/* first-child는 적용이 안되고, nth-child(2)로 해야 first가 됨
왜 이런지는 모르겠음 */
.features-image-desc:nth-child(2) {
  top: 5%;
  right: 5%;
  border-bottom-left-radius: 0;
}

.features-image-desc:nth-child(3) {
  top: 25%;
  left: 5%;
  border-bottom-right-radius: 0;
}

.features-image-desc:nth-child(4) {
  bottom: 30%;
  left: 12%;
  border-top-right-radius: 0;
}

.features-image-desc:last-child {
  max-width: 160px;
  bottom: 8%;
  right: 5%;
}

.features-image-desc p {
  text-align: start;
  padding: 5px;
  color: #262b36;
  font-size: 10px;
  line-height: 1.21;
}

.features .title {
  margin-bottom: 24px;
}

.features-detail-desc {
  margin-bottom: 52px;
  color: #606b86;
  font-size: 18px;
  line-height: 1.5555;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  padding: 30px 0 43px;
}

.features-card img {
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 24px;
}

.features-card strong {
  margin-bottom: 15px;
  color: #262b36;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.21;
}

.features-card p {
  color: #606b86;
  font-size: 13px;
  line-height: 1.5384;
}

@media screen and (min-width: 768px) {
  .features {
    margin-bottom: 197px;
  }

  .features-desc {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.6;
  }

  .features-image-box {
    margin-bottom: 78px;
    height: 390px;
  }

  .features-image-box img {
    height: 314px;
  }

  .features-image-desc {
    max-width: 220px;
  }

  .features-image-desc:last-child {
    max-width: 250px;
    bottom: 0;
  }

  .features-image-desc p {
    font-size: 15px;
    padding: 10px;
  }

  .features-detail-desc {
    margin-bottom: 64px;
  }

  .features-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .features-card {
    width: 315px;
    height: auto;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 992px) {
  .features {
    margin-bottom: 227px;
    text-align: start;
  }
  .features-desc {
    max-width: 960px;
    margin-bottom: 131px;
  }

  .features-image-box {
    display: flex;
    justify-content: center;
    height: 403px;
  }

  .features-image-desc:nth-child(3) {
    left: 0;
  }

  .features-detail-desc {
    margin-bottom: 51px;
  }

  .features-card-group {
    justify-content: flex-start;
  }

  .features-card {
    align-items: flex-start;
    padding: 16px 23px 16px 0;
  }

  .features-card img {
    margin-bottom: 30px;
  }

  .features-card strong {
    font-size: 18px;
  }

  .features-card p {
    font-size: 15px;
    line-height: 1.6;
  }
}
