.services-group {
  margin-bottom: 148px;
  padding: 168px 0 400px;
  background: linear-gradient(#fff, #ecf0f7);
}

.services {
  text-align: center;
  /* 186 + 96(services-card: 96) */
  margin-bottom: 276px;
}

.services .title {
  margin-bottom: 24px;
}

.services-desc {
  margin-bottom: 64px;
  color: #606b86;
  font-size: 18px;
  line-height: 1.5555;
}

.services-image-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  margin-bottom: 74px;
}

.services-image-box img {
  width: auto;
  height: 150px;
}

.services-image-box p {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 5px 9px;
  width: auto;
  height: 20px;
  border: 0.5px solid #1ece7a;
  border-radius: 10px;
  color: #3bcf6e;
  font-size: 7.5px;
  font-family: 700;
  line-height: 1.21;
}

.services-image-desc__1 {
  top: 0;
  left: 20%;
}

.services-image-desc__2 {
  top: 13%;
  left: 25%;
}

.services-image-desc__3 {
  top: 20%;
  right: 25%;
}

.services-image-desc__4 {
  top: 7%;
  right: 5%;
}

.services-image-desc__5 {
  top: 30%;
  left: 0%;
}

.services-image-desc__6 {
  top: 42%;
  right: 3%;
}

.services-image-desc__7 {
  bottom: 27%;
  left: 12%;
}

.services-image-desc__8 {
  bottom: 27%;
  right: 0;
}

.services-image-desc__9 {
  bottom: 3%;
  left: 25%;
}

.services-image-desc__10 {
  bottom: 17%;
  right: 20%;
}

.services-slider {
  display: flex;
  position: relative;
}

/* postion: absolute, left: 50%, transform: translateX(-50%)를 해서 중앙 정렬 */
.services-card {
  display: flex;
  text-align: start;
  position: absolute;
  align-items: center;
  left: 50%;
  padding: 20px 24px;
  width: 315px;
  height: 96px;
  border-radius: 16px;
  background-color: #fff;
  filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.08));
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 0;
}

.services__showing {
  opacity: 1;
  z-index: 1;
}

.services-card img {
  display: block;
  width: auto;
  height: 55px;
  margin-right: 24px;
}

.services-card p {
  color: #262b36;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777;
}

@media screen and (min-width: 768px) {
  .services-group {
    margin-bottom: 168px;
    padding: 124px 0 400px;
  }

  .services {
    /* 168 + 96 */
    margin-bottom: 264px;
  }

  .services-image-box {
    height: 599px;
    margin-bottom: 89px;
  }

  .services-image-box img {
    height: 300px;
  }

  .services-image-box p {
    padding: 11px 19px;
    height: 41px;
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .services-group {
    margin-bottom: 173px;
    padding: 159px 0 234px;
  }

  .services {
    /* 216 - 20(마지막 services-card의 margin-bottom 제외) */
    margin-bottom: 196px;
  }

  .services-image-desc__1 {
    top: 5%;
    left: 30%;
  }

  .services-image-desc__2 {
    top: 18%;
    left: 38%;
  }

  .services-image-desc__3 {
    top: 20%;
    right: 33%;
  }

  .services-image-desc__4 {
    top: 7%;
    right: 25%;
  }

  .services-image-desc__5 {
    top: 38%;
    left: 20%;
  }

  .services-image-desc__6 {
    top: 42%;
    right: 20%;
  }

  .services-image-desc__7 {
    bottom: 30%;
    left: 20%;
  }

  .services-image-desc__8 {
    bottom: 27%;
    right: 23%;
  }

  .services-image-desc__9 {
    bottom: 7%;
    left: 37%;
  }

  .services-image-desc__10 {
    bottom: 15%;
    right: 35%;
  }

  .services-slider {
    justify-content: center;
    flex-wrap: wrap;
  }

  .services-card {
    position: static;
    margin: 0 10px 20px;
    transform: none;
    opacity: 1;
  }

  .services-card:nth-child(7),
  .services-card:nth-child(8),
  .services-card:nth-child(9) {
    margin: 0 10px 20px;
  }
}
