.testimonials {
  text-align: center;
}

.testimonials .title {
  margin-bottom: 64px;
}

.testimonials-slider {
  position: relative;
}

.testimonials-card {
  position: absolute;
  padding: 78px 20px 33px;
  border-radius: 24px;
  box-shadow: 2px 6px 36px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 0;
}

.testimonials__showing {
  opacity: 1;
  z-index: 1;
}

.testimonials-card img {
  position: absolute;
  top: -9%;
  left: 50%;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  transform: translateX(-50%);
}

.testimonials-card p {
  margin-bottom: 36px;
  color: #262b36;
  font-size: 18px;
  line-height: 1.5555;
}

.testimonials-card dl dt {
  margin-bottom: 9px;
  color: #262b36;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.21;
}

.testimonials-card dl dd {
  color: #606b86;
  font-size: 13px;
  line-height: 1.8461;
}

@media screen and (min-width: 768px) {
  .testimonials .title {
    margin-bottom: 116px;
  }

  .testimonials-slider {
    display: flex;
    justify-content: center;
  }

  .testimonials-card {
    display: block;
    text-align: start;
    padding: 30px 110px 39px 30px;
    width: 540px;
    height: auto;
  }

  .testimonials-card img {
    left: 90%;
    transform: none;
  }

  .testimonials-card:first-child img {
    top: -10%;
  }

  .testimonials-card:nth-child(2) img {
    top: -8%;
  }

  .testimonials-card:last-child img {
    top: -7%;
  }

  .testimonials-card p {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 1.6;
  }

  .testimonials-card dl dt {
    margin-bottom: 7px;
    font-size: 18px;
  }

  .testimonials-card dl dd {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .testimonials .title {
    line-height: 1.5238;
    margin-bottom: 136px;
  }

  .testimonials-slider {
    display: flex;
    align-items: center;
  }

  .testimonials-card {
    position: relative;
    height: 100%;
    margin: 0 30px;
    opacity: 1;
  }

  .testimonials-card img {
    left: 85%;
  }

  .testimonials-card:first-child img {
    top: -5%;
  }

  .testimonials-card:nth-child(2) img {
    top: -5%;
  }

  .testimonials-card:last-child img {
    top: -5%;
  }
}
