.login-modal {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 430px;
  top: 50%;
  left: 50%;
  padding: 40px 50px 0;
  border-radius: 15px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.login-modal.active {
  display: block;
  z-index: 100;
}

.login-modal h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #262b36;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2103;
}

.login-modal-close {
  position: absolute;
  top: 4%;
  right: 4%;
  border: none;
  background: none;
  font-size: 20px;
}

.login-modal form div {
  margin-bottom: 20px;
}

.login-modal form div:first-child,
.login-modal form div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.login-modal form div:first-child label,
.login-modal form div:nth-child(2) label {
  margin-bottom: 10px;
  font-weight: 700;
}

.login-modal form div:first-child input,
.login-modal form div:nth-child(2) input {
  padding: 5px 0 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #798289;
}

.login-modal-submit {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #167bff;
  font-weight: 700;
}

.login-modal p {
  text-align: end;
  color: #c0c0c1;
}

.login-modal p a {
  color: #3591ff;
}
