.features {
  text-align: center;
  margin-bottom: 162px;
}

.features-desc {
  margin-bottom: 64px;
  color: #606b86;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777;
}

.features-image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 275px;
  margin: 0 auto 58px;
}

.features-image img {
  width: 100%;
  height: 100%;
}

.features-bubble {
  position: absolute;
  text-align: start;
  width: 140px;
  padding: 5px;
  border-radius: 5px;
  color: #262b35;
  background-color: #fff;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.08);
  font-size: 10px;
  transition: transform 250ms ease-in-out;
}

.features-bubble:hover {
  transform: scale(1.1);
}

/* common */
.features-bubble:after {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 10px;
}

/* bottom */
.features-bubble:nth-child(2):after,
.features-bubble:nth-child(3):after {
  top: 100%;
  left: 50%;
  border-top-color: #fff;
}

/* top */
.features-bubble:nth-child(4):after,
.features-bubble:last-child:after {
  bottom: 100%;
  left: 50%;
  border-bottom-color: #fff;
}

.features-bubble:nth-child(2) {
  right: 0%;
  top: 15%;
  border-bottom-left-radius: 0;
}

.features-bubble:nth-child(2):after {
  margin-left: -20%;
}

.features-bubble:nth-child(3) {
  left: 0%;
  top: 30%;
  border-bottom-right-radius: 0;
}

.features-bubble:nth-child(3):after {
  margin-left: 23%;
}

.features-bubble:nth-child(4) {
  left: 5%;
  bottom: 22%;
  border-top-right-radius: 0;
}

.features-bubble:nth-child(4):after {
  margin-left: 20%;
}

.features-bubble:last-child {
  right: 5%;
  bottom: 0%;
  width: 160px;
  border-top-left-radius: 0;
}

.features-bubble:last-child:after {
  margin-left: -10%;
}

.features .title {
  margin-bottom: 24px;
}

.features-detail-desc {
  width: 74%;
  margin: 0 auto 48px;
  color: #606b86;
  font-size: 18px;
  line-height: 1.5555;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74%;
  margin: 0 auto 24px;
  padding: 30px 0 43px;
}

.features-card:last-child {
  margin-bottom: 0;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin-bottom: 24px;
  border-radius: 24px;
  background-color: #fcf3f4;
}

.features-card i {
  font-size: 36px;
}

.features-card:first-child i {
  color: #fa4949;
}

.features-card:nth-child(2) i {
  color: #2e80dd;
}

.features-card:nth-child(3) i {
  color: #3acf6e;
}

.features-card:last-child i {
  color: #d39100;
}

.features-card strong {
  margin-bottom: 15px;
  color: #262b36;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.21;
}

.features-card p {
  margin-bottom: 0;
  color: #606b86;
  font-size: 13px;
  line-height: 1.5384;
}

@media screen and (min-width: 768px) {
  .features {
    position: relative;
    margin-bottom: 197px;
  }

  .features-desc {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.6;
  }

  .features .shape {
    position: absolute;
    top: 5%;
    right: 0;
    width: 140px;
    height: 140px;
  }

  .features .shape div {
    display: flex;
    align-items: center;
    height: 4px;
    margin-bottom: 13px;
  }

  .features .dot {
    width: 4px;
    height: 4px;
    margin-right: 13px;
    border-radius: 50%;
    background-color: #262b35;
    opacity: 0.4;
  }

  .features .dot:last-child {
    margin-right: 0;
  }

  .features-image {
    width: 457px;
    height: 457px;
    margin-bottom: 78px;
  }

  .features-bubble {
    width: 210px;
    font-size: 15px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
  }

  .features-bubble:last-child {
    width: 240px;
  }

  .features-bubble:after {
    border-width: 17px;
  }

  .features-detail-desc {
    margin-bottom: 64px;
  }

  .features-card-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .features-card {
    width: 315px;
    margin: 0 20px 40px 0;
    padding: 30px 20px 43px;
  }

  .features-card:nth-child(2),
  .features-card:last-child {
    margin-right: 0px;
  }

  .features-card:nth-child(3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 992px) {
  .features {
    text-align: start;
    margin-bottom: 231px;
  }
  .features-desc {
    width: 960px;
    margin-bottom: 131px;
  }

  .features .shape {
    top: 3%;
    margin-right: 1%;
    transform: rotate(90deg);
  }

  .features-bubble:after {
    border-width: 17px;
  }

  .features-image {
    max-width: 457px;
    max-height: 457px;
    margin: 0;
    width: auto;
    height: auto;
  }

  .features-detail-desc {
    max-width: 600px;
    width: auto;
    margin-left: 0;
    margin-bottom: 51px;
  }

  .features-card-group {
    justify-content: flex-start;
  }

  .features-card {
    align-items: flex-start;
    max-width: 268px;
    width: auto;
    margin: 0 0 36px 0;
    padding: 16px 23px 16px 0;
  }

  .features-card img {
    margin-bottom: 30px;
  }

  .features-card strong {
    font-size: 18px;
  }

  .features-card p {
    font-size: 15px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .features-card {
    max-width: 320px;
  }
}

@media screen and (min-width: 1400px) {
  .features-card {
    max-width: 324px;
  }
}
