.landing {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  padding-bottom: 188px;
  border-radius: 0px 0px 200px 0px;
  background-color: #1c57c9;
  overflow: hidden;
  z-index: 1;
}

.header {
  display: flex;
  margin-bottom: 60px;
  padding: 21px 0;
  justify-content: space-between;
  align-items: center;
  z-index: 98;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.21;
}

.menu-btn {
  padding: 10px 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #1c57c9;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.21;
}

.header-links {
  display: none;
}

.header-button-group {
  display: none;
}

.circle {
  position: absolute;
  left: 60%;
  top: -40%;
  width: 746px;
  height: 746px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  opacity: 0.1;
  z-index: -2;
}

@media screen and (min-width: 768px) {
  .landing {
    margin-bottom: 90px;
    padding-bottom: 118px;
  }

  .circle {
    left: 65%;
    top: -50%;
  }
}

@media screen and (min-width: 992px) {
  .landing {
    text-align: start;
    margin-bottom: 177px;
    padding-bottom: 163px;

    background-color: #fff;
  }

  .landing::after {
    content: "";
    position: absolute;
    top: 0;
    width: 72%;
    height: 100%;
    background-color: #1c57c9;
    border-radius: 0px 0px 600px 0px;
    z-index: -1;
  }

  .header-links {
    display: block;
    margin: 0;
  }

  .header-button-group {
    display: block;
  }

  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-link a {
    height: 18px;
    padding: 10px 25px;
    color: #fff;
  }

  .header-link:nth-child(2) a,
  .header-link:nth-child(3) a,
  .header-link:nth-child(4) a,
  .header-link:last-child a {
    opacity: 0.4;
  }

  .menu-btn {
    display: none;
  }

  .header-button-group button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.21;
  }

  .header-button-group button:first-child {
    margin-right: 20px;
    color: #262b36;
  }

  .header-button-group button:last-child {
    color: #3acf6e;
  }

  .circle {
    left: 57%;
    top: -35%;
  }
}
