.landing-title {
  margin-bottom: 36px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3095;
}

.landing-title strong {
  color: #3acf6e;
}

.landing-desc {
  margin-bottom: 48px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5555;
}

.landing-button {
  width: 132px;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.21;
}

.landing-button:nth-child(3) {
  margin-right: 10px;
  background: linear-gradient(90deg, #3acf6e 70%, #1c57c9 30%);
}

.landing-button:nth-child(4) {
  border: 1px solid #fff;
  background-color: #1c57c9;
}

.landing .shape {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 140px;
  height: 140px;
}

.landing .shape div {
  display: flex;
  align-items: center;
  height: 4px;
  margin-bottom: 13px;
}

.landing .shape div:nth-child(9),
.landing .shape div:nth-child(10),
.landing .shape div:nth-child(11),
.landing .shape div:nth-child(12),
.landing .shape div:nth-child(13),
.landing .shape div:nth-child(14),
.landing .shape div:nth-child(15),
.landing .shape div:last-child {
  display: none;
}

.landing .dot {
  width: 4px;
  height: 4px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
}

.landing .dot:last-child {
  margin-right: 0;
}

.landing-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .landing-title {
    font-size: 55px;
    line-height: 1.3454;
  }

  .landing-desc {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.6;
  }

  .landing-button {
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .landing .shape {
    transform: rotate(270deg);
  }

  .landing .shape div:nth-child(9),
  .landing .shape div:nth-child(10),
  .landing .shape div:nth-child(11),
  .landing .shape div:nth-child(12),
  .landing .shape div:nth-child(13),
  .landing .shape div:nth-child(14),
  .landing .shape div:nth-child(15),
  .landing .shape div:last-child {
    display: flex;
  }

  .landing-image {
    display: flex;
    justify-content: flex-end;
  }

  .landing-image img {
    border-radius: 24px;
  }

  .landing-image img:first-child {
    width: auto;
    height: 540px;
    margin-right: 40px;
  }

  .landing-image img:last-child {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 256px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
