.landing {
  text-align: center;
  margin: 84px 0 100px;
  padding: 60px 0 188px;
  border-bottom-right-radius: 80%;
  border-radius: 0px 0px 200px 0px;
  background-color: #1c57c9;
}

.landing-title {
  margin-bottom: 36px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3095;
}

.landing-title strong {
  color: #3acf6e;
}

.landing-desc {
  margin-bottom: 48px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5555;
}

.landing-button {
  width: 132px;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.21;
}

.landing-button:nth-child(3) {
  margin-right: 10px;
  background: linear-gradient(90deg, #3acf6e 70%, #1c57c9 30%);
}

.landing-button:last-child {
  border: 1px solid #fff;
  background-color: #1c57c9;
}

.landing-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .landing {
    margin-bottom: 90px;
    padding-bottom: 118px;
  }

  .landing-title {
    font-size: 55px;
    line-height: 1.3454;
  }

  .landing-desc {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.6;
  }

  .landing-button {
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .landing {
    position: relative;
    text-align: start;
    margin-bottom: 180px;
    padding-bottom: 160px;
    background: linear-gradient(90deg, #1c57c9 70%, #fff 30%);
  }

  .landing-image {
    display: flex;
    justify-content: flex-end;
  }

  .landing-image img {
    border-radius: 24px;
  }

  .landing-image img:first-child {
    width: auto;
    height: 540px;
    margin-right: 40px;
  }

  .landing-image img:last-child {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 256px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
