.services-group {
  margin-bottom: 148px;
  padding: 168px 0 153px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0001) -9.97%,
    #ecf0f7 100%
  );
}

.services {
  text-align: center;
  margin-bottom: 186px;
}

.services .title {
  margin-bottom: 24px;
}

.services-desc {
  margin-bottom: 64px;
  color: #606b86;
  font-size: 18px;
  line-height: 1.5555;
}

.circle-orbit {
  position: relative;
  width: 296px;
  height: 296px;
  margin: 0 auto 74px;
}

.circle-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  transform: translate(-50%, -50%);
}

.circle-orbit div p {
  position: absolute;
  color: #3bcf6e;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.21;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 296px;
  border: 0.5px dashed rgba(30, 206, 122, 0.5);
  border-radius: 100%;
}

.outer-orbit p:first-child {
  left: 17.21%;
  right: 63.95%;
  top: 0%;
  bottom: 92.76%;
}

.outer-orbit p:nth-child(2) {
  left: 77.74%;
  right: 3.41%;
  top: 10.15%;
  bottom: 82.6%;
}

.outer-orbit p:nth-child(3) {
  left: 0%;
  right: 81.16%;
  top: 34.54%;
  bottom: 58.22%;
}

.outer-orbit p:nth-child(4) {
  left: 28.41%;
  right: 52.74%;
  top: 92.67%;
  bottom: 0.08%;
}

.middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  border: 1px dashed rgba(30, 206, 122, 0.7);
  border-radius: 100%;
  animation: spin 15s linear infinite;
}

.middle-orbit p:first-child {
  left: 30.56%;
  right: 50.59%;
  top: 12.37%;
  bottom: 80.39%;
}

.middle-orbit p:nth-child(2) {
  left: 76.85%;
  right: 11.42%;
  top: 37.46%;
  bottom: 55.3%;
}

.middle-orbit p:nth-child(3) {
  left: 20.47%;
  right: 67.8%;
  top: 61.42%;
  bottom: 31.34%;
}

.middle-orbit p:nth-child(4) {
  left: 57.92%;
  right: 24.42%;
  top: 74.56%;
  bottom: 18.2%;
}

.inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border: 1.5px dashed rgba(30, 206, 122, 1);
  border-radius: 100%;
}

.services-slider {
  margin-bottom: 36px;
}

.services-card {
  display: none;
  width: 296px;
  height: 96px;
  padding: 20px 24px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #fff;
  filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.08));
}

.services-card.showing {
  display: flex;
  text-align: start;
  align-items: center;
}

.services-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin-right: 24px;
  background-color: #fcf3f4;
  border-radius: 24px;
}

.services-card i {
  font-size: 36px;
}

.services-card p {
  margin: 0;
  color: #262b36;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777;
}

.services-indicator {
  width: 15px;
  height: 15px;
  margin-right: 12px;
  border: none;
  background-color: #606c84;
  border-radius: 50%;
  opacity: 0.2;
}

.services-indicator.showing,
.services-indicator:hover {
  background-color: #1c57c9;
  opacity: 1;
}

.services-indicator:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .services-group {
    margin-bottom: 168px;
    padding: 124px 0 136px;
  }

  .services {
    margin-bottom: 168px;
  }

  .circle-orbit {
    width: 500px;
    height: 500px;
    margin-bottom: 84px;
  }

  .circle-image img {
    width: 360px;
    height: 260px;
  }

  .circle-orbit div p {
    font-size: 15px;
  }

  .outer-orbit {
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    animation: spin 15s linear infinite;
  }

  .middle-orbit {
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
  }

  .inner-orbit {
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  .services-group {
    margin-bottom: 178px;
    padding: 164px 0 229px;
  }

  .services {
    margin-bottom: 216px;
  }

  .services-desc {
    margin-bottom: 96px;
  }

  .circle-orbit {
    margin-bottom: 128px;
  }

  .services-slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .services-card {
    display: flex;
    text-align: start;
    align-items: center;
    width: 360px;
    margin: 0 10px 20px;
  }

  .services-card:last-child {
    margin-bottom: 0;
  }
  .services-card:last-child p br {
    display: none;
  }

  .services-indicators {
    display: none;
  }
}
