.testimonials {
  text-align: center;
}

.testimonials .title {
  margin-bottom: 64px;
}

.testimonials-button {
  display: none;
}

.testimonials-slider {
  margin-bottom: 46px;
}

.testimonials-card {
  display: none;
  position: relative;
  height: 310px;
  padding: 60px 20px 0;
  border-radius: 24px;
  box-shadow: 2px 6px 36px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.testimonials .showing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-card img {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  transform: translateX(-50%);
}

.testimonials-card p {
  margin: 0 0 36px;
  color: #262b36;
  font-size: 18px;
  line-height: 1.5555;
}

.testimonials-card dl dt {
  margin-bottom: 9px;
  color: #262b36;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.21;
}

.testimonials-card dl dd {
  margin-bottom: 0;
  color: #606b86;
  font-size: 13px;
  line-height: 1.8461;
}

.testimonials-card i {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 64px;
  color: #606c84;
  opacity: 0.2;
}

.testimonials-indicators {
  display: flex;
  justify-content: center;
}

.testimonials-indicator {
  width: 15px;
  height: 15px;
  margin-right: 12px;
  border: none;
  background-color: #606c84;
  border-radius: 50%;
  opacity: 0.2;
}

.testimonials-indicator.showing,
.testimonials-indicator:hover {
  background-color: #1c57c9;
  opacity: 1;
}

.testimonials-indicator:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .testimonials {
    position: relative;
  }

  .testimonials .title {
    margin-bottom: 116px;
  }

  .testimonials-button {
    display: block;
    position: absolute;
    top: 58%;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background-color: #262b35;
    opacity: 0.4;
  }

  .testimonials-button i {
    font-size: 23px;
    color: #fff;
  }

  .testimonials-button.prev {
    left: 0;
  }

  .testimonials-button.next {
    right: 0;
  }

  .testimonials-slider {
    width: 540px;
    margin: 0 auto 64px;
  }

  .testimonials-card {
    text-align: start;
    width: 540px;
    margin: 0;
    padding: 30px 110px 39px 30px;
  }

  .testimonials-card img {
    top: -8%;
    left: 90%;
    transform: none;
  }

  .testimonials-card p {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 1.6;
  }

  .testimonials-card dl {
    margin-bottom: 0;
  }

  .testimonials-card dl dt {
    margin-bottom: 7px;
    font-size: 18px;
  }

  .testimonials-card dl dd {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .testimonials .title {
    margin-bottom: 136px;
    line-height: 1.5238;
  }

  .testimonials-slider {
    display: flex;
    align-items: center;
  }
}
